@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --scarlett-red: #EA2327;
  --cream: #FFFBF0;
  --violet: #3D1518;
  --dark-gray: #181818;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-scarlett-red: var(--scarlett-red);
  --color-cream: var(--cream);
  --color-violet: var(--violet);
  --color-dark-gray: var(--dark-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bagel: var(--font-bagel-fat-one);
  --font-ultrabold: var(--font-novecento-ultrabold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
